#searchBtn {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cpath fill='%23FFF' class='st2' d='M31.353 197.517c0-93.303 75.908-169.206 169.197-169.206 93.303 0 169.21 75.91 169.21 169.207S293.854 366.72 200.55 366.72c-93.29 0-169.197-75.91-169.197-169.203zm30.503-.005c0 76.483 62.22 138.704 138.694 138.704 76.487 0 138.713-62.22 138.713-138.704S277.037 58.81 200.55 58.81c-76.473 0-138.694 62.225-138.694 138.702z'/%3E%3Cpath fill='%23FFF' class='st2' d='M458.58 461.156c-10.448 10.45-26.565 11.43-35.815 2.18l-127.44-127.44c-9.25-9.25-8.27-25.367 2.18-35.816 10.45-10.45 26.567-11.43 35.816-2.18l127.442 127.44c9.25 9.25 8.268 25.367-2.18 35.816z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: 31px;
    height: 31px;
}

#menu {
    padding: 0;
    box-sizing: border-box;
    position: relative;
    display: block;
}

#menu .topLevelMenu {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    white-space: nowrap;
    padding: 0;
    justify-content: center;
}

#menu .topLevelMenu .menuFooter {
    border-right: none;
}

#menu .topLevelMenu>.menuFooter>.navItem {
    font-weight: 700;
    padding: 0;
    line-height: 40px;
    display: block;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

@keyframes slidein {
    from {
        margin-left: 9%;
        width: 25%;
    }

    to {
        margin-left: 75%;
        width: 25%;
    }
}
#promo{
    font-family: fantasy ;
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 35px;
  
}

#txtpromo{
    text-decoration: underline blue;
    color: blue;
    text-align: center;
}
#txtvoiture{
    text-decoration: underline blue;
    color: blue;
    text-align: center;
}


